<div class="card-container">
  <mat-card class="welcome-card">
    <mat-card-header class="welcome-card-header">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form">
        <div>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            @if (form.controls['email'].hasError('email')) {
              <mat-error>Not a valid email</mat-error>
            }
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="isPasswordHidden ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              mat-icon-button
              matSuffix
              (click)="isPasswordHidden = !isPasswordHidden"
              type="button"
            >
              <mat-icon>{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            @if (form.controls['password'].hasError('pattern')) {
              <mat-error>Password is not strong</mat-error>
            }
          </mat-form-field>
        </div>
        @if (responseErrorMessage.length) {
          <mat-error>{{responseErrorMessage}}</mat-error>
        }
        <button
          class="submit-button"
          mat-flat-button
          type="submit"
          (click)="onLogin()"
          [disabled]="form.invalid"
        >
          Log in
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>