.card-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;

  .welcome-card {
    width: 350px;
    margin-bottom: 60px;

    .welcome-card-header {
      justify-content: center;
      margin-bottom: 20px;
    }

    .form-field {
      margin-bottom: 5px;
      width: 100%;
    }

    .recaptcha-container {
      display: flex;
      justify-content: center;
    }

    .spinner-container {
      display: flex;
      justify-content: center;
      margin-top: 15px;
    }

    .submit-button {
      margin-top: 20px;
      width: 100%;
    }
  }
}