<div class="container">
  <mat-card class="welcome-card">
    <mat-card-header class="welcome-card-header">
      <mat-card-title class="welcome-card-title">Welcome to Authentication App</mat-card-title>
    </mat-card-header>
    <mat-card-content class="welcome-card-content">
      <p>
        This is a university project where we learn
        how processes of login and registration work under the hood.
        You are able to create account and log in, in order to visit your profile
      </p>
    </mat-card-content>
    <mat-card-actions class="welcome-card-actions">
        <button mat-flat-button>
          <mat-icon>person</mat-icon>
          Profile
        </button>
        <button mat-flat-button>
          <mat-icon>login</mat-icon>
          Login
        </button>
        <button mat-flat-button>
          <mat-icon>person_add</mat-icon>
          Registration
        </button>
    </mat-card-actions>
  </mat-card>
</div>